@import "../tools/mixins";
@import "../tools/breakpoints";

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.text-right   { text-align: right;  }
.text-center  { text-align: center; }
.text-left    { text-align: left;   }

.heading-1 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 58px;
  font-size: 48px;
  color: #fff;
  @media(max-width: $breakpoint-lg){
    font-size: 42px;
    line-height: 48px;
    padding-left: 0;
  }
  @media(max-width: $breakpoint-md){
    font-size: 32px;
    line-height: 36px;
  }
  @media(max-width: $breakpoint-sm){
    font-size: 24px;
    line-height: 24px;
  }
}

.heading-2 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  font-size: 36px;
  color: #fff;
  @media(max-width: $breakpoint-lg){
    line-height: 24px;
    font-size: 36px;
  }
  @media (max-width: $breakpoint-sm) {
    font-size: 18px;
    line-height: 24px;
  }
}

.heading-3 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  color: #fff;
  &.--regular{
    font-weight: normal;
  }
  @media(max-width: $breakpoint-lg){
    font-size: 18px;
    line-height: 24px;
  }
  @media (max-width: $breakpoint-sm) {
    font-size: 16px;
    line-height: 24px;
  }
}

.heading-4 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  @media(max-width: $breakpoint-lg){
    font-size: 16px;
  }
  @media (max-width: $breakpoint-sm) {
    font-size: 14px;
    line-height: 20px;
  }
}

.app-txt{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #fff;
  @media (max-width: $breakpoint-sm) {
    font-size: 12px;
    line-height: 18px;
  }
}

