@import "../tools/mixins";
@import "../tools/breakpoints";

.footer{
  padding: 60px 0;

}

.copyright{
  &__txt{
    line-height: 20px;
    font-size: 12px;
    &.--link{
      transition: all 0.3s;
      &:hover{
        color: var(--orange);
      }
    }
  }
}